---
import LinkCard from "../../../components/LinkCard.astro";
import WhatAfter12ThLayout from "../../../layouts/WhatAfter12thLayout.astro";

const title = "Degree Courses";
const description = "Degree Courses";

const linkPrefix = "/science-a-group/degree-courses";

const links = [
  {
    link: `${linkPrefix}/engineering-degrees`,
    text: "Engineering Degrees",
  },
  {
    link: `${linkPrefix}/pure-science-degrees`,
    text: "Pure Science Degrees",
  },
  {
    link: `${linkPrefix}/bvoc-degrees`,
    text: "B.Voc Degrees",
  },
  {
    link: `${linkPrefix}/other-degrees`,
    text: "Other Degrees",
  },
];
---

<WhatAfter12ThLayout title={title} description={description}>
  <main>
    <div class="container">
      <h1 class="page-title">{title}</h1>

      <div class="flex-w">
        {links.map((link) => <LinkCard link={link.link} text={link.text} />)}
      </div>
    </div>
  </main>
</WhatAfter12ThLayout>
